*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #DE4849;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #DE4849;
}

.tablero {
  display: flex;
  flex-direction: column;
}
.tablero .columna1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* aqui ya no está lo de actividad
  porque tiene una hoja de estilos 
  aparte */
}
.tablero .columna1 .timerPomodoro {
  width: 80%;
  height: 297px;
  background-color: #668C54;
  margin-top: 50px;
  border-radius: 20px;
}
.tablero .columna2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tablero .columna2 .todo {
  width: 80%;
  height: 297px;
  background-color: #668C54;
  margin-top: 30px;
  border-radius: 20px;
}
footer {
  height: 100px;
  margin-top: 32px;
  color: white;
  background-color: #700000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo{
  background-color: #668C54;
  width: 80%;
  height: fit-content;
  border-radius: 20px;
  margin-top: 20px;
}