a{
  color: white;
}
.Navbar {
  height: 100px;
  background-color: #A60321;
  color: white;
  display: flex;
  flex-direction: row;
}
.elements {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.element {
  padding-right: 8px;
}
.pomodoroTitle {
  padding: auto;
  font-weight: bold;
  padding-right: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}